[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "papercolor-theme"]
	path = papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-clang-format"]
	path = vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-sensible"]
	path = vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-linux-coding-style"]
	path = vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "vim-tmux"]
	path = vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "vim-pudb"]
	path = vim-pudb
	url = https://github.com/KangOl/vim-pudb
[submodule "git-blame.vim"]
	path = git-blame.vim
	url = https://github.com/zivyangll/git-blame.vim
[submodule "robotframework-vim"]
	path = robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "rust.vim"]
	path = rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/preservim/tagbar
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "YCM-Generator"]
	path = YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
[submodule "color_coded"]
	path = color_coded
	url = https://github.com/jeaye/color_coded
